<!doctype html>
<html>
<head>
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>The Video Game Store</title>
  {% endif %}

  <link rel="icon" href="/static/images/gamer-icon-light.png" id="favicon">
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
  <script src="/static/scripts/script.js"></script>
</head>
<body>

<div class="navbar">
  <div class="leftbutton">
    <div class="pad">
      <button class="btn">
        <a href="/home/">
          <img src="/static/images/gamer-icon-dark.png" alt="home">
          The Video Game Store
        </a>
      </button>
    </div>
    <div class="pad">
      <form action="">
        <button type="submit" class="btn">
          <img src="/static/images/portal.png" alt="search">
        </button>
        <input type="text" placeholder=" search me ..." style="line-height: 1.5; border-radius: 5px;">
      </form>
    </div>
  </div>
  <div class="rightbutton">
    <div class="pad">
      <button class="btn">
        <a href="/contact/">
          <img src="/static/images/chess.png" alt="contact">
          Contact
        </a>
      </button>
    </div>
    <div class="pad">
      <button class="btn">
        <a href="/all_products/">
          <img src="/static/images/treasure.png" alt="all products">
          View All Products
        </a>
      </button>
    </div>
    <div class="pad">
      <button class="btn">
        <a href="/basket/">
          <img src="/static/images/pokeball.png" alt="basket">
          My Basket
        </a>
      </button>
    </div>
  </div>
</div>

<div class="content">
  {% block content %} {% endblock %}
</div>

<footer>
  <div class="footer">
    <div class="left">
      <a href="/easteregg/" style="">
        All your base are belong to us.
      </a>
    </div>
    <div class="middle">
      <div>
        <img src="/static/images/knight.png" alt="knight" id="knight" align="center">
        Powered by Darren James Smart
      </div>
    </div>
    <div class="right">
      &copy; 2023 Studio James
    </div>
  </div>
</footer>

</body>
</html>