<!doctype html>
<html>
<head>
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>The Video Game Store</title>
  {% endif %}

  <link rel="icon" href="/static/images/gamer-icon-light.png" id="favicon">
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
  <script src="/static/scripts/script.js"></script>
</head>
<body>

<div class="navbar">
  <div class="leftbutton">
    <a href="/home/">
      <img src="/static/images/gamer-icon-dark.png" alt="home">
      The Video Game Store
    </a>
  </div>
  <div class="rightbutton">
    <table>
      <tr>
        <td>
          <img src="/static/images/portal.png" alt="search">
          <input type="text" placeholder="what are you looking for...">
        </td>
        <td>
          <img src="/static/images/chess.png" alt="contact">
          <a href="/contact/">Contact</a>
        </td>
        <td>
          <img src="/static/images/treasure.png" alt="all products">
          <a href="/all_products/">View All Products</a>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="content">
  {% block content %} {% endblock %}
</div>

</body>
</html>