.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: white;
	padding: 10px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.leftbutton {
	display: flex;
	align-items: center;
}

.rightbutton {
	display: flex;
	align-items: center;
}

.navbar img {
    margin-right: 5px;
    vertical-align: middle;
}

.navbar a {
    text-decoration: none;
}