.navbar {
	position: fixed;
	z-index: 1;
	min-width: 300px;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background-color: white;
	padding: 10px;
	box-shadow: 0 3px 4px rgba(0,0,0,0.2);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

.leftbutton {
	display: flex;
	align-items: center;
}

.rightbutton {
	display: flex;
	align-items: center;
}

.pad {
    padding: 5px;
}

.navbar img {
    margin-right: 5px;
    vertical-align: middle;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.logo{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btn {
    border: none;
    border-radius: 5px;
    display: inline-flex;
    padding: 8px 16px;
    vertical-align: middle;
    color: black;
    font-weight: bolder;
    background-color: white;
    text-align: center;
    cursor: pointer;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    transition-duration: 0.1s;
}

.btn:hover,
.btn:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(-2px);
}

.cntact {
     background-color: rgba(255,255,255, 0.7);
     font-family:
     Trebuchet MS;
     width: 500px;
     text-align: right;
     line-height: 1.5;
     font-weight:bold;
}

.homeh1{
    text-align: center;
    font-family: Trebuchet MS;
    font-size: 500%;
}

.homeh2{
    text-align: center;
    font-family: Trebuchet MS;
}

.footer {
    position: fixed;
    min-width: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: black;
    text-align: center;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    overflow: hidden;
}

.left {
    color: white;
    font-family: Trebuchet MS;
    text-align: left;
}

.middle {
    color: white;
    font-family: Trebuchet MS;
    text-align: center;
}

.right {
    color: white;
    font-family: Trebuchet MS;
    text-align: right;
    margin-right: 2%
}

.left a {
    text-decoration: none;
    color: white;
}

.imagediv {
    width:200px;
    padding: 20px;
    height:300px;
    border: solid 1px #ECECEC;
    border-radius:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.imagediv:hover {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(-2px);
}

.imagediv img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
    object-fit: contain;
    object-position: center;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 300px;
    grid-gap: 20px;
}

.contact {
    width:100%;
    border-radius:5px;
    border: solid 1px lightgrey;
    font-family: Trebuchet MS;
    display: flex;
}

.centred {
display: flex;
justify-content: center;
}

/* RGB animated container: */
.rgb {
    position: relative;
    z-index: -1;
    border-radius: 10px;
    touch-action: manipulation;
}

.rgb:before {
    content: "";
    background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 800%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
    background-position: 0 0;
    }
    50% {
    background-position: 400% 0;
    }
    100% {
    background-position: 0 0;
    }
}

.rgb:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    left: 0;
    top: 0;
    border-radius: 10px;
}
