{% extends "layouts/layout.html" %}
{% block content %}
<div>
    <h2 class="homeh2">
        The best deals for your  Gaming Lifestyle! We've got you covered!
    </h2>
    <br>
    <div>
        <div class="grid">
            {% for id, sub_dict in alldata.items() %}
            <div class="imagediv">

                <a href="/product/{{ id }}">
                    <img src="data:image/png;base64,{{ sub_dict['img_binarydata'] }}" alt="{{ sub_dict['name'] }}">
                </a>
                <p class="homeh2">{{ sub_dict['name'] }} <br> <b>{{ sub_dict['price'] }} RON</b></p>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
<!--<div>-->
<!--    <table>-->
<!--        <tr>-->
<!--            <td>-->
<!--                <div class="imagediv">-->
<!--                    <div class="rgb">-->
<!--                        <img src="data:image/jpeg;base64,{{ image1 }}" alt="image">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </td>-->
<!--            <td>-->
<!--                <div style="width:50px; height:50px;"></div>-->
<!--            </td>-->
<!--            <td>-->
<!--                <div class="imagediv">-->
<!--                    <img src="data:image/jpeg;base64,{{ image2 }}" alt="image">-->
<!--                </div>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->
{% endblock content %}