{% extends "layouts/layout.html" %}
{% block content %}
<div>
    <table>
        <tr>
            <td>
                <div class="rgb" style="width:200px; height:200px;">
                    <img src="data:image/jpeg;base64,{{ image1 }}" alt="image" style="width:100%; height:100%; border-radius: 5px;">
                </div>
            </td>
            <td>
                <div style="width:50px; height:50px;"></div>
            </td>
            <td>
                <div style="width:200px; height:200px; border:solid 1px lightgray; border-radius:5px;">
                    <img src="data:image/jpeg;base64,{{ image2 }}" alt="image" style="width:100%; height:100%; border-radius: 5px;">
                </div>
            </td>
        </tr>
    </table>
</div>
{% endblock content %}