{% extends "layouts/layout.html" %}
{% block content %}
<div>
    <h2 class="homeh2">
        The best deals for your  Gaming Lifestyle! We've got you covered!
    </h2>
    <br>
    <div class="imagediv">
        <img src="data:image/png;base64,{{ alldata[10]['img_binarydata'] }}" alt="">
    </div>
</div>
<!--<div>-->
<!--    <table>-->
<!--        <tr>-->
<!--            <td>-->
<!--                <div class="imagediv">-->
<!--                    <div class="rgb">-->
<!--                        <img src="data:image/jpeg;base64,{{ image1 }}" alt="image">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </td>-->
<!--            <td>-->
<!--                <div style="width:50px; height:50px;"></div>-->
<!--            </td>-->
<!--            <td>-->
<!--                <div class="imagediv">-->
<!--                    <img src="data:image/jpeg;base64,{{ image2 }}" alt="image">-->
<!--                </div>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->
{% endblock content %}