{% extends "layouts/layout.html" %}
{% block content %}
<style>
    body {
      background-image: url("/static/images/coin.png");
      background-repeat: repeat;
      background-size: 10%;
    }
  </style>
<h1 class="homeh1white">Your Basket:</h1>
<div class="grid" id="bkt">
  <div class="innerbox">
    <img src="data:image/png;base64,{{ rows[4] }}" alt="image" style="width:230px;">
  </div>
  <div class="innerbox">
    <h2 class="homeh2">
      {{ rows[1] }}
    </h2>
  </div>
  <div class="innerbox">
    <h2 class="homeh2">
      {{ rows[2] }} RON
    </h2>
  </div>
  <div class="innerbox">
    <h2 class="homeh2">
      No. of Items: <input id="itemcount" type="number" value="{{ quant }}" min="1" max="{{ rows[5] }}" required>
    </h2>
    <div class="stock">
      ( Stock: {{ rows[5] }} )
    </div>
  </div>
  <div class="innerbox">
    <h2 class="homeh2" id="total" style="text-decoration:underline;" data-price="{{ rows[2] }}">
      Total: {{ quant * rows[2] }} RON
    </h2>
  </div>
  {% block scripts %}
  <script type="text/javascript" src="/static/scripts/total.js"></script>
  {% endblock scripts %}
</div>

<br>
<div>
  <a href="/basket/" style="text-decoration: none;">
    <button class="btn">
      Empty Basket
    </button>
  </a>
  <a href="/checkout/" style="text-decoration: none;">
    <button class="btn">
      Go To Checkout
    </button>
  </a>

</div>

{% endblock content %}