{% extends "layouts/layout.html" %}
{% block content %}
<style>
    body {
      background-image: url("/static/images/coin.png");
      background-repeat: repeat;
      background-size: 10%;
    }
  </style>
<h1 class="homeh1white">Your Basket:</h1>
<div class="grid">
  <img src="data:image/png;base64,{{ rows[4] }}" alt="image" style="width:300px;">
</div>
<div>
  <h2 class="homeh2white">
    {{ rows[1] }}
  </h2>
</div>
<div>
  <h2 class="homeh2white">
    {{ rows[2] }}
  </h2>
</div>
<div>
  <h2 class="homeh2white">
    Category: {{ rows[3] }}
  </h2>
</div>
<div>
  <h2 class="homeh2white">
    No. of Items: {{ quant }}
  </h2>
</div>

{% endblock content %}