{% extends "layouts/layout.html" %}
{% block content %}
<h2 class="homeh2">
    You found a secret link!
</h2>
<div class="logo">
    <div class="rgb">
        <video width="728" height="348" controls autoplay style="border-radius:10px;">
            <source src="/static/videos/easter_egg.mp4" type="video/mp4">

            This was supposed to be a cool video, if you see this message
            your browser doesnt support video playback. Sorry
        </video>
    </div>
</div>
{% endblock content %}