{% extends "layouts/layout.html" %}
{% block content %}

<style>
    body {
      background-image: url("/static/images/clouds.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>

<div>
    <h1 class="homeh1" style="font-size:300%;">{{  row[1]  }}</h1>
</div>
<br><br>
<div class="table-div">
    <table class="tab">
        <tr>
            <td id="left-td">
                <br>
                <div id="image-container">
                    {% if img|length > 0 %}
                    <img src="data:image/png;base64,{{ img[0] }}" alt="image" class="imgg">
                    {% endif %}
                    {% if img|length > 1 and row[1] == 'PlayStation 4 500GB' %}
                    <img src="data:image/png;base64,{{ img[1] }}" alt="image" style="width:500px;">
                    {% elif img|length > 1 and row[1] != 'PlayStation 4 500GB' %}
                    <img src="data:image/png;base64,{{ img[1] }}" alt="image">
                    {% endif %}
                    {% if img|length > 2 %}
                    <img src="data:image/png;base64,{{ img[2] }}" alt="image">
                    {% endif %}
                    <button id="toggle-button" class="btn" onclick="toggleImages()">Toggle {{ img|length }} Image(s)</button>
                </div>
            </td>
            <td id="right-td">
                <div class="homeh2" id="price">
                    PRICE: {{  row[2]  }} RON
                </div>
                <br>
                <div id="cat">
                    Category : <a href="/category/{{row[5]}}">{{  row[5] | capitalize  }}</a>
                </div>
                <br>
                <div>
                    <form action="/basket/" method="get">
                        <input type="number" value="1" min="1" max="{{  row[4]  }}" id="quantity" name="quantity" style="width:35px;" class="textinpt" required>
                        <input type="hidden" name="prod_id" value="{{ row[0] }}">
                        <button id="basket" class="btn" type="submit">Add to Basket</button>
                    </form>
                </div>
                <div id="stock">
                    Stock: {{  row[4]  }}
                </div>
                {% block scripts %}
                <script type="text/javascript" src="/static/scripts/basket.js"></script>
                <script type="text/javascript" src="/static/scripts/image.js"></script>
                <script>
                    toggleImages()
                </script>
                {% endblock scripts %}
                <h2 class="homeh2">
                    Description:
                </h2>
                <div class="homeh2" id="description">
                    {{  row[3]  }}
                </div>
            </td>
        </tr>
    </table>
</div>
{% endblock content %}