{% extends "layouts/layout.html" %}
{% block content %}
<div>
    <h1 class="homeh1" style="font-size:300%;">{{  row[1]  }}</h1>
</div>
<br>
<div>
    <div class="homeh2" style="font-weight:bold; display:flex; justify-content: center;">
        Category : {{  row[5] | capitalize  }}
    </div>
    <div class="rgb" style="margin-left: 2%; width:500px; ; display: inline-block; float: left;">
        <img src="data:image/png;base64,{{ img[0] }}" alt="image" id="newimage" style="width:100%; border-radius:10px;">
    </div>
    <div class="homeh2" style="font-weight:bold; font-size: 250%; display:flex; justify-content: center; text-decoration:underline;">
        {{  row[2]  }} RON
    </div>
    <div style="font-weight:bold; font-size: 75%; display:flex; justify-content: center; color:red;">
        Stock: {{  row[4]  }}
    </div>
</div>
<br>
<h2 class="homeh2">
    Description:
</h2>
<div class="homeh2" style="font-size:150%; display:flex; justify-content: center; width:100%;">
    {{  row[3]  }}
</div>

{% endblock content %}